<div class=" content">
   <div class=" row">
     <div class=" col-12">
 
       <div class=" card card-chart">
         <div class=" card-header">
           <h1> BIENVENUE !</h1>
         </div>
         <div style="text-align:center">
           <img src="./assets/img/bfi.png" />
           <br/>
           <br/>
           <br/>
           <br/>
           <p>
             Editeur et intégrateur des solutions financières depuis 1994,
             <br/>
             BFI est partenaire stratégique pour vous accompagner pour la modernisation de votre système d’information.
           </p>
       </div>
     <br/>
     <br/>
     <br/>
     <br/>
 
       </div>
     </div>
   </div>
 </div>
